---
# tasks file for workstation-base
# system setup
- import_tasks: system_setup.yml
- import_tasks: flatpak_setup.yml

# setup applications
- import_tasks: setup_docker.yml
- import_tasks: vscodium.yml
- import_tasks: system_packages.yml
- import_tasks: flatpak_applications.yml
